.movies {
  display: flex;
  width: 100%;
  min-height: 700px;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1280px) {
  .container {
    display: flex;
    gap: 40px;
  }
}

.genresList {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  max-width: 450px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #fff;
  box-shadow: rgb(1 1 1 / 20%) 2px 2px 5px 0px,
    rgb(1 1 1 / 20%) -2px -2px 5px 0px;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    margin-bottom: 0;
  }
}

.cardContainer {
  display: flex;
  padding: 0px 25px;
  color: #f8f8f8;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background: linear-gradient(to bottom, #00aec94d 20px, #39a0ede6 100%);
}

@media only screen and (min-width: 1280px) {
  .cardContainer {
    width: 60%;
  }
}

.cardItem {
  padding: 5px;
}
